<div class='my-legend'>
<div class='legend-title'>Legend</div>
<div class='legend-scale'>
  <ul class='legend-labels'>
    <li><span style='background:white;'></span>Per Capita Income > $25,000</li>
    <li><span style='background:#BDD7E7;'></span>Per Capita Income < $25,000</li>
    <li><span style='background:#08519C;'></span>Per Capita Income < $25,000 & High Concentration of 20% Lowest Performing Schools</li>
    <li><span style='background:red;'></span>20% Lowest Performing Schools: Traditional Public</li>
    <li><span style='background:orange;'></span>20% Lowest Performing Schools: Community School</li>
    <li><span style='background:green;'></span>20% Highest Performing Schools: Traditional Public and Community</li>
  </ul>
</div>
<div class='legend-source'>Sources: <a href="http://nces.ed.gov/surveys/sdds/ed/index.asp">NCES School Districts Demographic System</a>, <a href=" http://education.ohio.gov/Topics/Data/Report-Card/Ohio-Report-Cards/Performance-Index-Ranking-for-Districts-and-School">Ohio Department of Education</a></div>
</div>

<style type='text/css'>
  .wax-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .wax-legend .legend-text {
    text-align: left;
    margin-bottom: 1px;
    font-size: 70%;
    clear: both;
    }
  .wax-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .wax-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .wax-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .wax-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .wax-legend a {
    color: #777;
    }
</style>
